body {
    color: #1F2041;
    font-family: 'Roboto', sans-serif;
}

/* Barra navegación */
.colorNav {
    background-color: #1F2041;
}

.navbar-nav > li > a {
    border-bottom:3px solid #1F2041;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    border-bottom:3px solid #f0f1f8;
}

.nav-item .dropdown-item:hover{
    background-color: #121326;
}

/* Carousel */
.carousel .carousel-item{
    max-height: 550px;
}

.carousel-inner .carousel-item img{
    max-width: 100%;
    width: 100%;
    object-fit: fill;
    height: auto;}

.carousel-caption-mio{
    width: 45%;
    text-align: left;
    background-color: #1F2041;
    opacity: 0.75;
    bottom: 15%;
    top: 70%;
    padding-left: 3%;
    z-index: 10;
    position: absolute;
}

/* Footer redes sociales */
.social{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    font-size: 2rem;
}

/* */

.autenficando{
    align-items: center;
    background-image: url('../imagenes/fondo.jpg');
    height: 61.2vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
